{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}

{% block PartialHead %}

    {% set itemData = item.documents[0].data %}
    {% embed getPartial('page-metadata') %}
        {% block title          ItemName.get(itemData | itemName, itemData.variation.bundleType) %}
        {% block description    itemData.texts.metaDescription %}
        {% block keywords       itemData.texts.keywords %}
        {% block image          itemData.images.all[0].url %}
        {% block robots         "ALL" %}
        {% block schemaOrg %}
            {
                "@context"      : "http://schema.org/",
                "@type"         : "Product",
                "@id"           : "{{ itemData.variation.id }}",
                "name"          : "{{ ItemName.get(itemData | itemName, itemData.variation.bundleType) | trim }}",
                "category"      : "{{ defaultCategory.details[0].name }}",
                "releaseDate"   : "{{ itemData.variation.releasedAt }}",
                "image"         : "{{ itemData.images.all[0].urlPreview }}",
                "identifier"    : "{{ itemData.variation.id }}",
                "description"   : "{{ itemData.texts.description | striptags | filterTabs }}",
                "disambiguatingDescription" : "{{ itemData.texts.shortDescription }}",
                "manufacturer"  : {
                    "@type"         : "Organization",
                    "name"          : "{{ itemData.item.manufacturer.externalName }}"
                },
                "offers": {
                    "@type"         : "Offer",
                    "priceCurrency" : "{{ itemData.prices.default.currency }}",
                    "price"         : "{{ itemData.prices.default.price.value | number_format(2, '.', '') }}",
                    {% if itemData.prices.default.baseLot > 0 %}
                    "priceSpecification": {
                        "@type": "UnitPriceSpecification",
                        "price": "{{ itemData.prices.default.price.value | number_format(2, '.', '') }}",
                        "priceCurrency": "{{ item.documents[0].data.prices.default.currency }}",
                        "referenceQuantity": {
                            "@type": "QuantitativeValue",
                            "value": "{{ itemData.unit.content }}",
                            "unitCode": "{{ itemData.unit.unitOfMeasurement }}"
                        }
                    },
                    {% endif %}
                    "availability"  : "{{ itemData.variation.availability.mappedAvailability }}",
                    "itemCondition" : "{{ itemData.item.condition.names.name }}",
                    "serialNumber"  : "{{ itemData.variation.number }}"
                },
                "depth": {
                    "@type"         : "QuantitativeValue",
                    "value"         : "{{ itemData.variation.lengthMM }}"
                },
                "width": {
                    "@type"         : "QuantitativeValue",
                    "value"         : "{{ itemData.variation.widthMM }}"
                },
                "height": {
                    "@type"         : "QuantitativeValue",
                    "value"         : "{{ itemData.variation.heightMM }}"
                },
                "weight": {
                    "@type"         : "QuantitativeValue",
                    "value"         : "{{ itemData.variation.weightG }}"
                }
            }
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block PageBody %}
    {{ set_item_data_base(item.documents[0].data) }}

    {% set shopBuilderTemplate = "" %}
    {% set currentCategory = services.category.getCurrentCategory() %}

    {% if currentCategory is defined %}
        {% set shopBuilderTemplate = shop_builder_category_template(currentCategory.id, isItemSet ? "itemset" : "singleitem") %}
    {% endif %}

    {# Shopbuilder template #}
    <div class="single container-max page-content">
        <div class="row">
            <div class="col">
                <single-item
                    v-cloak
                    item-data="{{ item | json_data }}"
                    attributes-data="{{ attributes | json_data }}"
                    variations="{{ variations | json_data }}"
                    :please-select-option-variation-id="{{ dynamicVariationId }}"
                    :init-please-select-option="{{ initPleaseSelectOption | json_encode }}"
                    :show-net-prices="{{ services.customer.showNetPrices() | json_encode }}"
                    :is-wish-list-enabled="{{ services.url.isRouteEnabled("wish-list") | json_encode }}"
                    v-slot="slotProps">
                    {# Set items #}
                        <single-item-set-slot :variation-id="1032" v-slot="slotProps">
                            <h1>${ slotProps.currentVariation.documents[0].data | itemName }</h1>
                            <item-image-carousel :variation="slotProps.currentVariation" plugin-path="{{ plugin_path('Ceres') }}" image-url-accessor="url"></item-image-carousel>
                        </single-item-set-slot>
                        <single-item-set-slot :variation-id="1028" v-slot="slotProps">
                            <h1>${ slotProps.currentVariation.documents[0].data | itemName }</h1>
                            <item-image-carousel :variation="slotProps.currentVariation" plugin-path="{{ plugin_path('Ceres') }}" image-url-accessor="url"></item-image-carousel>
                        </single-item-set-slot>
                        <single-item-set-slot :variation-id="1021" v-slot="slotProps">
                            <h1>${ slotProps.currentVariation.documents[0].data | itemName }</h1>
                            <item-image-carousel :variation="slotProps.currentVariation" plugin-path="{{ plugin_path('Ceres') }}" image-url-accessor="url"></item-image-carousel>
                        </single-item-set-slot>
                        <single-item-set-slot :variation-id="1022" v-slot="slotProps">
                            <h1>${ slotProps.currentVariation.documents[0].data | itemName }</h1>
                            <item-image-carousel :variation="slotProps.currentVariation" plugin-path="{{ plugin_path('Ceres') }}" image-url-accessor="url"></item-image-carousel>
                        </single-item-set-slot>
                    {# Set items #}
                </single-item>
            </div>
        </div>
    </div>

{% endblock %}
